@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  display: none;
}

.custom-bg {
  background: url('./assets/pngs/background.png'), linear-gradient(0deg, rgba(157, 221, 255, 0.7) 0.31%, #1345A6 98.1%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.my-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 640px) {
  .my-container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .my-container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .my-container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .my-container {
    width: 1140px;
  }
}


